
<h1>Quintel's Ultimate Unit converter</h1>

<%= form_tag('/converter', method: 'get') do %>
  <%= label_tag(:value, "Value to convert") %>
  <%= text_field_tag(:value, nil, placeholder: "Enter a value to convert") %>

  <%= label_tag(:unit, "Unit type") %>
  <%= select_tag(:unit, options_for_select(["Kilograms","Pounds","Feet","Meters"]), prompt: "Select a unit type") %>

  <%= submit_tag("Calculate") %>
<% end %>

<% if @result %>
  <p><%= @result %></p>
<% end %>


